.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/


docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

.pytest_cache
.idea
*.log
__pycache__
Thumbs.db
venv
reports
*.db
temp_upload
configs/local.config.json
/.flask_secret
attachments
